<html>

<!-- 
# Definition: this is when approximate names appear after searching for a name. 
# Input: void
# Output: void
# Author: Nardeen Milad
 -->	


<h2> members search found: </h2>

<table >
<%  @all.each do |c|  %>


<%# @all.each do |c|%>
<tr>

<td><font size='4' color='red'> => </font></td> <td> <font size='4' color='red'>
<%= c.id %> </font></td> <td></td> <td><font size='4' color='red'>
 <%=c.name %> </font> </td> <td></td>


 <td><a href='validate?id=<%= c.id %> & senderid = <%= params['userId'] %>&groupid=<%= params['groupId'] %>' > invite</a></td>
</font>
</tr>
<br>
<%end%>
</table>


</html>