<h1>Edit your email and password</h1>
 
<%= form_for :Entity, url: entity_path(@entity), method: :patch do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.label :pass_word %><br>
    <%= f.text_field :pass_word %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>