<!--   
# Definition: The user writes the status in the text box and clicks on the button 
# then the status is updated in the above header.
# Input: Status.
# Output: Updated Status.
# Author: Ola Enaba.
-->

<p>
  <strong>Work status</strong>
  </br>
  <%= @entity.work_status %>
</p>


  <%= form_for :entity,url: entity_updateStatus_path(@entity), method: :get do |f| %>
 
<p>
  <%= f.label :Update_work_status %><br>
  <%= f.text_area :work_status %>
</p>
 
<p>
  <%= f.submit "enter" %>
</p>
<% end %>
