<h1>New account</h1>


<!-- Runs form -->
<!-- Adel Zee Badawy -->

<%= form_for(@entity) do |f| %>
  <% if @entity.errors.any? %>
    <div id = "error_explanation">
      <h2>Errors:</h2>
      <ul>
      <% @entity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class = "field">
    <%= f.label :name, "Username" %> <br>
    <%= f.text_field :name %> <br>
    <%= f.label :e_mail, "E-Mail" %> <br>
    <%= f.text_field :e_mail %> <br>
    <%= f.label :password %> <br>
    <%= f.password_field :password %> <br>
    <%= f.label :password_confirmation, "Confirm Password" %> <br>
    <%= f.password_field :password_confirmation %><br>
    <%= f.label :type, "Entity Type" %> <br>
    <%= f.select(:type, options_for_select([['Please select an entity type...', '0'], ['Investor', '1'], ['Service', '2'], ['Startup', '3']], selected: :type )) %>
    <!-- # The error here is that i need to insert the input from the dropdown list into the corresponding tables -->
  </div>
  <div class = "actions">
    <%= f.submit "Create Account" %>
  </div>
<% end %>


<!-- Links to entity page -->
<!-- Adel Zee Badawy -->

<%= link_to 'Back', root_path %>
