<% if @entity == current_entity %>
 <% if current_entity.type == 'Startup' && @entity.completed == nil %>
  Startup
  <%= form_for :startup, url: entity_create_startup_path(:startup, entity_id: params[:id]) do |f| %>
   <div><%= f.label :number_of_working_years %><br />
   <%= f.text_field :number_of_working_years %></div><br>

   <div><%= f.label :sector %><br />
   <%= f.collection_select :sector, Startup::SECTORS, :to_s, :titleize %></div>
   <%= f.submit "Insert" %>
   <% end %>
 <% elsif current_entity.type == 'Investor' && @entity.completed == nil %>
  Investor
  <%= form_for :investor, url: entity_create_investor_path(:investor, entity_id: params[:id]) do |f| %>
   <div><%= f.label :contact_information %><br />
   <%= f.text_field :contact_information %></div><br>

   <div><%= f.label :sector %><br />
   <%= f.collection_select :sector, Investor::SECTORS, :to_s, :titleize %></div>
   <%= f.submit "Insert" %>
  <% end %>
 <% elsif current_entity.type == 'Service' && @entity.completed == nil %>
  <%= form_for :service, url: entity_create_service_path(:service, entity_id: params[:id]) do |f| %>
   <div><%= f.label :sector %><br />
   <%= f.collection_select :sector, Service::SECTORS, :to_s, :titleize %></div>
   <%= f.submit "Insert" %>
  <% end %>
 <% end %>
<% end %>