<p id="notice"><%= notice %></p>

<!-- The following list is for listing the details in the tuples in the table -->
<!-- Adel Zee Badawy -->

<p>
  <strong>Name:</strong>
  <%= @entity.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @entity.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @entity.password %>
</p>

<!-- The following two lines link to "Edit" and "Back" urls -->
<!-- Adel Zee Badawy -->
<%= link_to 'Edit', edit_entity_path(@entity) %> |
<%= link_to 'Back', entities_path %>

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= render 'friendship_form' if signed_in? %>
      <% unless @user.cards.empty? %>
        <table class="cards" summary="User cards">
          <%= render @cards %>
        </table>
        <%= will_paginate @cards %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Cards</strong> <%= @user.cards.count %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>
