<!-- 
  # Definition: This is the heading of the page.
  # Input: Void.
  # Output: Void.
  # Author: Mozdan Ahmed.
-->

<h1> your search results</h1>
<br>
<br>

<!-- 
  # Definition: This loop shows the results of the search from groups.
  # Input: Group name.
  # Output: Search result.
  # Author: Mozdan Ahmed.
-->

<h2>groups</h2>
 <% @groups.each do |g|%>	
	<a href = " "> <%= g.name%> </a>
	<br>
	<br>
	<br>
 <%end%>
<br>

<!-- 
  # Definition: This loop shows the results of the search from groups.
  # Input: Investor name.
  # Output: Search result.
  # Author: Mozdan Ahmed.
-->

<h2>inverstors</h2>
 <% @investors.each do |i|%>	
  <a href = " "> <%= i.name%> </a>
  <br>
  <br>
	<br>
 <%end%>
<br>

<!-- 
  # Definition: This loop that shows the results of the search from groups.
  # Input: Entities name.
  # Output: Search result.
  # Author: Mozdan Ahmed.
-->

<h2>entities</h2>
 <% @entities.each do |e|%>	
   <a href = ""> <%= e.name%> </a>
   <br>
   <br>
   <br>
 <%end%>
<br>

<!-- 
  # Definition: This loop shows the results of the search from services.
  # Input: Service name.
  # Output: Search result.
  # Author: Mozdan Ahmed.
-->

<h2>services</h2>
  <% @services.each do |s|%>
   <a href = ""> <%= s.name%> </a>
	 <br>
	 <br>
	 <br>
  <%end%>
<br>

<!-- 
  # Definition: This loop shows the results of the search from startups.
  # Input: Startup name.
  # Output: Search result.
  # Author: Mozdan Ahmed.
-->

<h2>startups</h2>
 <% @startups.each do |u|%>
  <a href = ""> <%= u.name%> </a>
  <br>
  <br>
  <br>
 <%end%>