<!--
  # Definition:Allows editing all the project's attributes along with 
  # all the requirements that needs to be handled
  # Category => drop down list
  # Nested form helps editing/remove/add/reached
  # inside specific atributes 'targets and requirements'
  # submit => button that renders to show with all the updates.
  # Input: project_id (with all its attributes).
  # Output: redirects to show with all the updates.
  # Author: Hana Magdy.
-->

 <h1>Editing '<%= @project.name %>' Project</h1>
 <%= nested_form_for @project do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :category %><br>
    <%=  f.select :category, [['Agriculture','Agriculture'],['Manufacturing','Manufacturing'],['Trading ','Trading'],['Clothes ','Clothes'], ['Telecommunication','Telecommunication']]%>
  </p>
  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit ("Edit Project") %>
  </p>
 <% end %>