<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Milestones</th>
      <th>Location</th>
      <th>Goals</th>
      <th>Requirements</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>

      <tr>
        <td> <%= link_to project.id, project %> </td>
        <td> <%= link_to project.name, project %> </td>
        <td> <%= project.description %> </td>
        <td> <%= project.milestones %> </td>
        <td> <%= project.location %> </td>
        <td> <%= project.goals %> </td>
        <td> <%= project.requirements %> </td>
      </tr>
    
    <% end %>
  </tbody>
</table>