<!--
  # Definition: Doesn't submit unless name,category 
  # and description are submitted, so it just gives 
  # a red color on error.
  # Input: Title 'name' ,project attribute values.
  # Output: If there is no input redirects to the same page
  # else redirects to show.
  # Author: Hana Magdy.
-->

<style type="text/css">
  .field_with_errors {
    padding: 2px;
    background-color: rgb(252, 22, 68);
    display: table;
  }
</style>

<!--
  # Definition: Allows entering all project attributes with the necessary 
  # and unnecessary attributes
  # can add/remove project attributes, while creating the project
  # submit button to check the entries to get redirected to the show page.
  # Input: Project attribute values.
  # Output: If there is no input and checks validations redirects to the same page
  # else redirects to show.
  # Author: Hana Magdy.
-->

 <h1> Create New Project </h1>
 <%= nested_form_for @project do |f| %>
   <p>
     <%= f.label :name %><span  style="color:red">✼</span> <br>
     <%= f.text_field :name %>
   </p>
 <p>
    <%= f.label :category %><span  style="color:red">✼</span><br>
    <%=  f.select :category, [['Please Select Category', nil], ['Agriculture','Agriculture'],['Manufacturing','Manufacturing'],['Trading ','Trading'],['Clothes ','Clothes'], ['Telecommunication','Telecommunication']]%>
  </p>
  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :description %><span  style="color:red">✼</span> <br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit("Create project") %>
  </p>
 <% end %>
