  <!-- Just added the colors :)
  Author: Hana Magdy  -->


<style type="text/css">

  h1 {
    color: #FF3399;
  }

  p {
    color: #0099FF;
  }
  </style>

<h1> Create New Project </h1>


<%= nested_form_for @project do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>

  </p>
 
  <div >
    <%= f.label :category %><br /><span  style="color:red">✼</span>

    <%=  f.select :category, [['Agricultural','Agricultural'],['Industrial','Industrial'],[' Mobile Applications ',' Mobile Applications ']]%>
  <div class="scrollbox">
  </div>

  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <%= f.fields_for :project_targets do |targets_f| %>
    <%= targets_f.label :description %>
    <%= targets_f.text_field :description %>
    <%= targets_f.link_to_remove "Remove Target" %>
  <% end  %>

  <p>
    <%= f.link_to_add "Add a Target", :project_targets %>
  </p>

  <%= f.fields_for :project_requirements do |targets_f| %>
    <%= targets_f.label :description %>
    <%= targets_f.text_field :description %>
    <%= targets_f.link_to_remove "Remove Requirement" %>
  <% end  %>

  <p>
    <%= f.link_to_add "Add a Requirement", :project_requirements %>
  </p>

  <p>
    <%= f.submit("Create project") %>

  </p>
  
<% end %>