 <!--
  # Definition: if reached -> true the cross it with a line.
  # Input: title 'name' ,attribute values, reached value 'true/false'.
  # Output: crossed value if reached and vice verca.
  # Author: Hana Magdy.
 -->

<style type="text/css">
  .reached-true {
    text-decoration: line-through;
  }
 </style> 

<!-- 
  # Definition: Allows showing all values all attributes for the whole project.
  # Input: before/after editing a project 'void'.
  # Output: project_id "all the project's details".
  # Author: Hana Magdy. 
-->

 <h1> Your project details </h1>
 <p>
   <strong>Name:</strong>
   <%= @project.name %>
 </p>
 <p>
  <strong>Category:</strong>
  <%= @project.category %>
 </p>
 <p>
  <strong>Location:</strong>
  <%= @project.location %>
 </p>
 <p>
  <strong>Description:</strong>
  <%= @project.description %>
 </p>
 <p>

<!--
  # Definition: Allows deleting the project's details
  # This method allows you to click on an underlined 
  # link "button" that redirects to index 'listing projects'
  # current_entity, handels the  where the user shoule be loged in to edit or delete.
  # Input: project_id "the button".
  # Output: index.html.erb, because it does not return anything, it just redirects.
  # Author: Hana Magdy. 
-->

<% if current_entity %>
  <%= link_to "Delete Project", @project, method: :delete, 
  confirm: "Are you sure? This cannot be undone!" %>

<!--
  # Definition: Allows editing the project's details, 
  # This method allows you to click on an underlined 
  # link "button" that redirects to the edit page.
  # Input: project_id "the button".
  # Output: edit.html.erb, because it does not return anything, it just redirects.
  # Author: Hana Magdy. 
-->
 
  <%= link_to "Edit this project", edit_project_path(@project) %>
<% end %>