<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
 
<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @project.requirements %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>Milestones:</strong>
  <%= @project.milestone %>
</p>
 
 
  # Definition: This is a button the sends merge request
  # Input: suggested_project
  # Output: merge request.
  # Author: Mozdan Ahmed.

<%= button_to "Send merge request", project_merge_request_path( suggested_project: @project ) %>
<button type="button">Send merge request</button>
