<!-- Just added the colors :)
Author: Hana Magdy  -->

<style type="text/css">

  h1 {
    color: #FF3399;
  }

  p {
    color: #0099FF;
  }

</style>

<h1> Your project details </h1>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
 
<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @project.goals %>
</p>

<p>
  <strong>Milestones:</strong>
  <%= @project.milestones %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @project.requirements %>
</p>

  <!--   == Begin  == 
  Definition: "A project is launched after all requirements are met"
  Changes the status of a project and redirects to the project's 
  page (show project) on success or error
  update the status of launch project from unlaunch to launched and vice versa.
  Input: project_id. "on the show page".
  Output: Void "it's an action" returns the success of the
  changeable button of launch upon of it's previous status. 
  Author: Hana Magdy. -->

<p>
  <strong>Launched?</strong>
  <%= @project.launched? %>
  <%= link_to( (@project.launch ? "Unlaunch" : "Launch"), launch_project_path) %>
</p>

<!--Definition: "As a startup, I can set a project goal, milestone,
requirements (roles, resources)"
Allows editing the project's details, specifically goals, milestones and requirements
This method allows you to click on an underlined 
link "button" that redirects to the edit page.
Input: project_id. then user enters input.
Output: Void, because it does not return anything, it just redirects.
Author: Hana Magdy. -->
 
<%= link_to "Edit this project", edit_project_path(@project) %>
<!-- == End  ==   -->