<!-- # Defintion: This shows a project profile with
     # a send merge request button
     # Input: project_id, suggested_project
     # Output: project_id, suggested_project
     # Author: Yomn El-Mistikawy -->

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
 
<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @project.requirements %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @project.goals %>
</p>

<p>
  <strong>Milestones:</strong>
  <%= @project.milestones %>
</p>