
  <!-- Just added the colors :)
  Author: Hana Magdy  -->

<style type="text/css">

  h1 {
    color: #FF3399;
  }

  p {
    color: #0099FF;
  }

</style>

<h1> Your project details </h1>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
 
<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @project.goals %>
</p>

<p>
  <strong>Milestones:</strong>
  <%= @project.milestones %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @project.requirements %>
</p>
