<!--
  # Definition: If reached -> true then cross it with a line.
  # Input: title 'name' ,attribute values, reached value 'true/false'.
  # Output: crossed value if reached and vice verca.
  # Author: Hana Magdy.
-->

 <style type="text/css">
  .reached-true {
    text-decoration: line-through;
  }
  </style>

<!-- 
  # Definition: Allows showing all values all categories for the whole project
  # including showing whether it is reached or not in req./targets.
  # Input: before/after editing a project 'void'.
  # Output: project_id "all the project's details".
  # Author: Hana Magdy.

-->

 <h1> Your project details </h1>
 <p>
  <strong>Name:</strong>
  <%= @project.name %>
 </p>
 <p>
  <strong>Category:</strong>
  <%= @project.category %>
 </p>
 <p>
  <strong>Location:</strong>
  <%= @project.location %>
 </p>
 <p>
  <strong>Description:</strong>
  <%= @project.description %>
 </p>
 <p>
  <strong>Targets:</strong>
  <ul>
    <% @project.project_targets.each do |target| %>
      <li class="reached-<%=target.reached%>"><%= target.description %></li>
    <% end %>
  </ul>
 </p>
 <p>
  <strong>Requirements:</strong>
  <ul>
    <% @project.project_requirements.each do |req| %>
      <li class="reached-<%=req.reached%>"><%= req.description %></li>
    <% end %>
  </ul>
 </p>

<!--   
  Definition: "A startup can launch its project"
  Changes the status of a project and redirects to the project's 
  page (show project) on success or error
  update the status of launch project from unlaunch to launched and vice versa.
  Input: project_id. "on the show page".
  Output: project_id"it's an action" returns the success of the
  changeable button of launch upon of it's previous status. 
  Author: Hana Magdy.
-->

 <% if current_entity %>
 <p>
  <strong>Launched?</strong>
  <%= @project.launched? %>
  <%= link_to( (@project.launch ? "Unlaunch" : "Launch"), launch_project_path) %>
 </p>

 
<!--
  # Definition: Allows deleting the project's details
  # This method allows you to click on an underlined 
  # link "button" that redirects to index 'listing projects'
  # current_entity, handels the  where the user shoule be loged in to edit or delete.
  # Input: project_id "the button".
  # Output: index.html.erb, because it does not return anything, it just redirects.
  # Author: Hana Magdy. 
-->

  <%= link_to "Delete Project", @project, method: :delete, 
  confirm: "Are you sure? This cannot be undone!" %>

<!--
  # Definition: Allows editing the project's details, 
  # specifically targets and requirements
  # This method allows you to click on an underlined 
  # link "button" that redirects to the edit page.
  # Input: project_id "the button".
  # Output: edit.html.erb, because it does not return anything, it just redirects.
  # Author: Hana Magdy. 
-->
 
  <%= link_to "Edit this project", edit_project_path(@project) %>
<% end %>