<style type="text/css">

  h1 {
    color: #FF3399;
  }

  p {
    color: #0099FF;
  }

</style>

<h1> Your project details </h1>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
 
<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Targets:</strong>
  <ul>
    <% @project.project_targets.each do |target| %>
      <li> <%= target.description %> </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Requirements:</strong>
  <ul>
    <% @project.project_requirements.each do |req| %>
      <li> <%= req.description %> </li>
    <% end %>
  </ul>
</p>

<%= link_to "Delete Project", @project, method: :delete, confirm: "Are you sure? This cannot be undone!" %>

  <!--Definition: "As a startup, I can edit and add all projects 
  attributes and specifically targets and requirements "
  Allows editing the project's details, specifically targets and requirements
  This method allows you to click on an underlined 
  link "button" that redirects to the edit page.
  Input: project_id "the button".
  Output: edit.html.erb, because it does not return anything, it just redirects.
  Author: Hana Magdy. -->

  <p>
  <strong>reached?</strong>
  <%= @project.reached? %>
  <%= link_to( (@project.reached ? "unmet" : "met"), reached_project_path) %>
</p>
 
<%= link_to "Edit this project", edit_project_path(@project) %>
  <!-- == End  ==   -->