<h1>Listing startups_and_groups</h1>

<table>
  <thead>
    <tr>
      <th>Startup</th>
      <th>Group</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups_startups.each do |groups_startup| %>
      <tr>
        <td><%= groups_startup.startup_id %></td>
        <td><%= groups_startup.group_id %></td>
        <td><%= link_to 'Show', groups_startup %></td>
        <td><%= link_to 'Destroy', groups_startup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New', new_groups_startup_path %>
