<%= form_for :groups_startup, url: groups_startup_path do |f| %>
  <% if @groups_startup.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@groups_startup.errors.count, "error") %> prohibited
      this entry from being saved:</h2>
    <ul>
    <% @groups_startup.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :startup_id %><br>
    <%= f.number_field :startup_id %>
  </p>

  <p>
    <%= f.label :group_id %><br>
    <%= f.number_field :group_id %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>


<%= link_to 'Back', groups_startups_path %>
