<!-- 
  # Definition: This view is used by the entity to reset its forgotten password.
  # Input: Void.
  # Output: Email.
  # Author: Omar El Menawy. 
-->

<h2>Change your password</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |entity| %>
  <%= devise_error_messages! %>
  <%= entity.hidden_field :reset_password_token %>
  <div>
    <%= entity.label :password, "New password" %><br />
    <%= entity.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>
  <div>
    <%= entity.label :password_confirmation, "Confirm new password" %><br/>
    <%= entity.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div><%= entity.submit "Change my password" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
