<!-- 
     # Definition: This view is used by the entity to insert its email so that a reset password email is sent for forgeting the password.
     # Input: void
     # Output: email
     # Author: Omar El Menawy 
-->
     
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |entity| %>
  <%= devise_error_messages! %>

  <div><%= entity.label :email %><br />
  <%= entity.email_field :email, autofocus: true %></div>

  <div><%= entity.submit "Send me reset password instructions" %></div>
<% end %>

<%= render "devise/shared/links" %>
