<h1>Listing events and their descriptions </h1>

<table>
  <thead>
    <tr>
      <th>Event name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %> &nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= event.description %>&nbsp;</td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>



      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Event', new_event_path %>
