<p id="notice"><%= notice %></p>

<p>
  <strong>Event Name:</strong>
  <%= @event.name %>
</p>
<p>
  <strong>Start Date:</strong>
  <%= @event.start_time %>
</p>
<p>
  <strong>End Date:</strong>
  <%= @event.end_time %>
</p>


<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', @event %>
