<h1>New Map</h1>


 
 
 <%= link_to 'Show Startups', href="/maps/1/showStartups" %>
 <br>
 <%= link_to 'Show Investors', href="/maps/1/showInvestors" %>b
 <br>
 <%= link_to 'Show Startups', href="/maps/1/showServices" %>

<br>
 <%= link_to 'Show online Startups', href = "/maps/1/showOnline" %>
 <br>
 <%= link_to 'Show offline Startups', href = "/maps/1/showOnffline" %>
 <br>
<%= link_to 'Show launched Startups', href = "/maps/1/showLaunched" %>
<br>
<%= link_to 'Show not yet launched Startups', href = "/maps/1/showNotLaunched" %>
<br>
<%= link_to 'Show joint Ventures', href = "/maps/1/showMerged" %>
 
  

 
