<h1>Startup Map</h1>
<!-- Those are the links that will call the actions in the maps controller and show the markers on the map --> 
 <%= link_to 'Show Startups' , href="/maps/1/show_startups" %>
 <br>
 <%= link_to 'Show Investors', href="/maps/1/show_investors" %>
 <br>
 <%= link_to 'Show Services', href="/maps/1/show_services" %>
 <br>
 <%= link_to 'Show online Startups', href = "/maps/1/show_online" %>
 <br>
 <%= link_to 'Show offline Startups', href = "/maps/1/show_offline" %>
 <br>
 <%= link_to 'Show launched Startups', href = "/maps/1/show_launched" %>
 <br>
 <%= link_to 'Show not yet launched Startups', href = "/maps/1/show_not_launched" %>
 <br>
 <%= link_to 'Show joint Ventures', href = "/maps/1/show_merged" %>
<!-- this gets the hash variable from the maps controller in which the markers are saved and adds them on the map. It should be placed in the javascript code of the map -->
markers = handler.addMarkers(<%=raw @markers.to_json %>);
