

<h1>Startup Map</h1>

<%= link_to 'Show Startups' , href="/maps/1/show_startups" %>

 <br>
 <%= link_to 'Show Investors', href="/maps/1/show_investors" %>
 <br>
 <%= link_to 'Show Services', href="/maps/1/show_services" %>
 <br>
 <%= link_to 'Show online Startups', href = "/maps/1/show_online" %>
 <br>
 <%= link_to 'Show offline Startups', href = "/maps/1/show_offline" %>
 <br>
 <%= link_to 'Show launched Startups', href = "/maps/1/show_launched" %>
 <br>
 <%= link_to 'Show not yet launched Startups', href = "/maps/1/show_not_launched" %>
 <br>
 <%= link_to 'Show joint Ventures', href = "/maps/1/show_merged" %>

<div style='width: 800px;'>
  <div id="map" style='width: 1000px; height: 500px;'></div>
</div>
 
 
 
 
