<!-- 
  # Definition: This show a form of the portfolio.
  # Input: Void.
  # Output: Portfolio.
  # Author: Mozdan Ahmed.
-->

<%= form_for(@entity_portfolio) do |f| %>
<div class="field">
<%= f.label :name %><br>
<%= f.text_field :name %>
</div>
<div class="field">
<%= f.label :description %><br>
<%= f.text_area :description %>
</div>
<div class="field">
<%= f.label :launch %><br>
<%= f.datetime_select :launch %>
</div>
<div class="actions">
<%= f.submit %>
</div>
<% end %>
