<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entity_portfolio.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entity_portfolio.description %>
</p>

<p>
  <strong>Launch:</strong>
  <%= @entity_portfolio.launch %>
</p>

<%= link_to 'Edit', edit_entity_portfolio_path(@entity_portfolio) %> |
<%= link_to 'Back', entity_portfolios_path %>
