

<html>
<body>
	<form action='update_portfolio' >
		
		</h1>Edit Portfolio</h1>
		
id<input type='text' name='id' id='id'></br>
<p><label for="portfolio_name">Name</label>:
<%= text_field 'portfolio', 'name' %></p>
<p><label for="portfolio_description">Description</label>:
<%= text_area 'portfolio', 'description' %></p>
<p><label for="portfolio_launch">Launched</label><br/>
<%= text_field 'portfolio', 'launch' %></p>
<%= submit_tag "Save changes" , {:action => 'list'} %>




	</form>
	<%= link_to 'Back', {:action => 'list'} %>


