
<% if @portfolio.blank? %>
<p>There are not any portfolios.</p>
<% else %>
<p>These are the current portfolios</p>
<ul id="portfolio">
<% @portfolio.each do |c| %>
<li><li>
<%= link_to c.name, {:action => "show", :id => c.id} -%>
<li><%=c.id%>
<b> <%= link_to 'Edit', {:action => 'edit_portfolio', :id => c.id} %></b>
<b> <%= link_to "Delete", {:action => 'delete_portfolio', :id => c.id},
:confirm => "Are you sure you want to delete this item?" %></b>
</li></li>
<% end %>
</ul>
<% end %>
<p><%= link_to "Add new Portfolio", {:action => 'new' }%></p>
