
<html>
<body>
	<form action='create_portfolio' >
		
		</h1>Add new Portfolio</h1>

<p><label for="portfolio_name">Name</label>:
<%= text_field 'portfolio', 'name' %></p>
<p><label for="portfolio_description">Description</label>:
<%= text_area 'portfolio', 'description' %></p>
<p><label for="portfolio_launch">Launched</label><br/>
<%= text_field 'portfolio', 'launch' %></p>
<%= submit_tag "Create" , {:action => 'list'} %>




	</form>
	<%= link_to 'Back', {:action => 'list'} %>