 <!--#  Defintion: The method create certain portfolio view including name field, description and
 #  launch field. And after clicking on create button user is redirected back to the list of portfolios
 #  and the back button redirect the user to the list.
 #  Input:  Portfolio_name, portfolio_description, portfolio_launch.
 #  Output: Void.
 #  Author: Mozdan Ahmed.-->

<html>
<body>
	<form action='create_portfolio' >
		
		</h1>Add new Portfolio</h1>

<p><label for="portfolio_name">Name</label>:
<%= text_field 'portfolio', 'name' %></p>
<p><label for="portfolio_description">Description</label>:
<%= text_area 'portfolio', 'description' %></p>
<p><label for="portfolio_launch">Launched</label><br/>
<%= text_field 'portfolio', 'launch' %></p>
<%= submit_tag "Create" , {:action => 'list'} %>


	</form>
	<%= link_to 'Back', {:action => 'list'} %>