<h1><%= @portfolio.name %></h1>
<p><strong>Name: </strong> $<%= @portfolio.name %><br />
<strong>Description:</strong> <%= @portfolio.description%><br />
<strong>Launched:</strong> <%= @portfolio.launch%><br />
</p>
<hr />
<%= link_to 'Back', {:action => 'list'} %>