<!--#  Defintion: The method  shows the created portfolio. And redirect back to the list when clicking 
 #on the back button
 #  Input:  Void.
 #  Output: Portfolio_name, portfolio_description, portfolio_launch.
 #  Author: Mozdan Ahmed.-->


 <h1><%= @portfolio.name %></h1>
 <p><strong>Name: </strong> $<%= @portfolio.name %><br />
 <strong>Description:</strong> <%= @portfolio.description%><br />
 <strong>Launched:</strong> <%= @portfolio.launch%><br />
 </p>
 <hr />
 <%= link_to 'Back', {:action => 'list'} %>