<!--
  # Definition: A form for creating a startup id and the group's id which is joined by this startup
  # Input: startup_id, grouup_id
  # Output: void
  # Author: Essam Azzam
-->


<%= form_for(@startup_has_group) do |f| %>
  <% if @startup_has_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@startup_has_group.errors.count, "error") %> prohibited this startup_has_group from being saved:</h2>

      <ul>
      <% @startup_has_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :startupID %><br>
    <%= f.number_field :startupID %>
  </div>
  <div class="field">
    <%= f.label :groupID %><br>
    <%= f.number_field :groupID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
