<p id="notice"><%= notice %></p>

<p>
  <strong>Startupid:</strong>
  <%= @startup_has_group.startupID %>
</p>

<p>
  <strong>Groupid:</strong>
  <%= @startup_has_group.groupID %>
</p>

<%= link_to 'Edit', edit_startup_has_group_path(@startup_has_group) %> |
<%= link_to 'Back', startup_has_groups_path %>
