<p id="notice"><%= notice %></p>

<p>
  <strong>Gallery:</strong>
  <%= @painting.gallery %>
</p>

<p>
  <strong>Name:</strong>
  <%= @painting.name %>
</p>

<%= link_to 'Edit', edit_painting_path(@painting) %> |
<%= link_to 'Back', paintings_path %>
