
<h1>Welcome</h1>
<%= button_to "Show Map", maps_path, :class => "button"  %>
<%= link_to 'Inbox', messages_path  %> |
<%= link_to 'Send message', new_message_path  %> |
<%= link_to 'Friends', friendships_path  %> |
<%= link_to 'Add Friend', new_friendship_path  %> |


