<% provide(:title, 'Friend Request') %>
<h1>Send a Friend Request</hi>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@friendship) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>


      <%= f.label :email %>
      <%= f.text_field :email %>

      <br><br>

      <%= f.submit "Request Opencall", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>