  <!--
  # Definition: Make a email notification buttom which make it send when true else not send.
  # Input: Notification buttom.
  # Output: Void.
  # Author: Youssef Attaby.
  -->

<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :group_name %><br>
    <%= f.text_field :group_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
  <%= f.label :notification %><br>
  <%= f.radio_button(:notification, "True") %>
  <%= f.label(:notification_True, "True") %>
  <br />
  <%= f.radio_button(:notification, "False") %>
  <%= f.label(:notification_False, "False") %>
</div>
  <div class="actions">
     <%= f.submit ("Add description") %>
  </div>
<% end %>