<!-- # Definition: The join button sends join requests.
     # input: void.
     # output: group_id.
     # Author: Sherouk A.Said. -->



<p id="notice"><%= notice %></p>

<%= button_to "Join",  group_join_request_path(group_id: params[:id]) %>


<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>
  

<p>
  <strong>Group name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

