
  <p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @group.interest %>
</p>

<% if @group.private == false %>
<h2>Posts</h2>
<% @group.posts.each do |post| %>
<%= @post = post %>
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= post.text %>
  </p>


 <div style="background: #2F4F4F">
 <h2>Comments</h2>
 <% @post.comments.each do |comment| %>
   <p>
    <strong style="color: #000; font-size: 10pt"><%= comment.commenter %></strong> 
    <%= ":" %>
    <%= comment.comment %>  
    <br/>
    <strong>Posted <%= time_ago_in_words(comment.created_at) %> ago</strong>
    <%= link_to 'Delete', group_post_comment_path(@group,@post,comment), method: :delete, data: { confirm: 'Are you sure?' } %>
   </p>
  <% end %>

  <% if check_group_member == true %>
    <%= render :partial => 'form_comment' %>
  <% end %>
 </div>
<% end %> 

<% if check_group_member == true %>
<%= render :partial => 'form_post' %>
<%end %>
<% end %>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>