<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @group.interest %>
</p>


<h2>Posts</h2>
<% @group.posts.each do |post| %>
<%= @post = post %>
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>
  <p>
  </p>
  <p>
    <strong>Text:</strong>
    <%= post.text %>
  </p>


  <% end %>

<%= render :partial => 'form_post' %>


<%= link_to 'Edit', edit_group_path(@group) %> | <%= link_to 'Back', groups_path %>