<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @group.interest %>
</p>


<h2>Posts</h2>
<% @group.posts.each do |post| %>
  <% @post = post %>
  <% if @post != nil %>
    <%= render 'posts/post',  :collection => @group.posts%>
  <% end %> 
<% end %>

<h2>Add a Post</h2>
<%= render 'posts/new' %>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
<%= link_to 'Destroy', edit_group_path, method: :delete, data: { confirm: 'Are you sure?' } %>