<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Group name:</strong>
  <%= @group.group_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<% @group.posts.each do |post| %>
	<%= @post = post %>

<!-- This part loops on all comments related to the specified post and displays them under heading "Comments". 
Author: Maha Salah Eldin. -->

	<h2>Comments</h2>
	<% @post.comments.each do |comment| %>
  		<p>
   		<strong>Commenter:</strong>
    	<%= comment.commenter %>
  		</p>
 
  		<p>
    	<strong>Comment:</strong>
    	<%= comment.comment %>
  		</p>
	<% end %>


 <!--  After, all the comments are displayed, the user can add a comment on this post. This form takes the text comment as input from the user and then calls the create action in comments controller when clicking submit.  
 Author: Maha Salah Eldin. -->

 	<h2>Add a comment:</h2>
 	<%= form_for([@group,@post, @post.comments.build]) do |f| %>
        <p>
    	<%= f.label :comment %><br>
      	<%= f.text_area :comment %>
    	</p>
    	<p>
       <%= f.submit %>
    	</p>
  <% end %>

<% end %> 

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
