<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @group.interest %>
</p>
<% if @group.private == false %>
 <% @group.posts.each do |post| %>
<%= @post = post %>
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= post.text %>
  </p>

<!-- This part of code views all comments under heading Comment, with a delete link for each comment.
Author: Maha Salah Eldin. -->

  <div style="background: #2F4F4F">
   <h2>Comments</h2>
   <% @post.comments.each do |comment| %>
    <p>
    <strong style= "font-size: 10pt"><%= comment.commenter %></strong> 
    <%= ":" %>
    <%= comment.comment %>  
    <br/>
    <strong>Posted <%= time_ago_in_words(comment.created_at) %> ago</strong>
    <%= link_to 'Delete', group_post_comment_path(@group,@post,comment), method: :delete, data: { confirm: 'Are you sure?' } %>
   <% end %>

<!-- This part of code first checks if the viewer is a member of the group, if yes then it renders the comments creation form.
Author: Maha Salah Eldin. -->

   <% if check_group_member == true %>
    <%= render :partial => 'form_comment' %>
   <% end %>
  </div>
 <% end %> 
 <% if check_group_member == true %>
<%= render :partial => 'form_post' %>
 <%end %>
<% end %>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>