<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>

  <p class="navbar-text pull-right">
<% if entity_signed_in? %>
  Logged in as <strong><%= current_entity.email %></strong>.
  <%= link_to 'Edit profile', edit_entity_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_entity_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_entity_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_entity_session_path, :class => 'navbar-link'  %>
<% end %>
</head>
<body>

<% if flash.notice %>
	
	<div class="notification success">
		<%= flash.notice %>
	</div>

<% else %>
	
	<div class="notification error">
		<%= flash.alert %>
	</div>

<% end %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
